# SYSTEM DEPENDENCY (not pip): sudo apt install python3.10-tk -y
customtkinter
pymongo[srv]
dnspython
pillow
cryptography
opencv-python-headless
python-dotenv
doclayout-yolo
loguru
torch>=2.2.0
torchvision>=0.17.0
ollama
requests
certifi
easyocr==1.7.2
ultralytics==8.3.40
numpy<2
transformers
paddlepaddle
paddleocr
thefuzz
python-Levenshtein