MONGO_URI=mongodb+srv://<username>:<password>@cluster0.pdhd1qx.mongodb.net/Test
DB_NAME=Test
COLLECTION=Book Data
GOOGLE_BOOKS_API_KEY=your_google_books_api_key_here
VISION_MODEL=minicpm-v:latest
TEXT_MODEL=llama3.2:1b
