customtkinter
pymongo[srv]
dnspython
pillow
cryptography
opencv-python-headless
python-dotenv
doclayout-yolo
loguru
torch
torchvision
ollama
magic-pdf[full]
requests
certifi
easyocr
ultralytics
paddlepaddle==2.6.2
paddleocr==2.7.3
